mark, .warning mark {
    color: #b8860b;
    background: #fff4d6;
}

mark.red, .danger mark {
    color: #e9546b;
    background: var(--color-red-a1);
}

mark.green, .success mark {
    color: #2e8b57;
    background: #e6f4ea;
}

mark.blue, .info mark {
    color: #3794ff;
    background: #e3efff;
}

mark.purple, .primary mark {
    color: #8a51c0;
    background: #f2f0f7;
}
